---
title: Le Wagon - Team
---

<div id="team">
  <div class="team-content">
    <h1 class="text-center">This template was built with <i class="fas fa-heart"></i> by</h1>
    <ul class="list-inline text-center">
      <li>
        <%= image_tag "valentine.jpg", class: "avatar" %>
        <h2>Valentine</h2>
      </li>
      <li>
        <%= image_tag "hf.jpg", class: "avatar" %>
        <h2>HF</h2>
      </li>
    </ul>
  </div>
</div>
